/* pay */
.delete-btn-wrap {
    /* text-align: right; */
    display: flex;
    justify-content: left;
    align-items: center;
    width: 150px;
}

.delete-btn {
    background-color: #fff;
    color: red;
    border: 1px solid red !important;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
}